In [14]:
import numpy as np
import pandas as pd

In [46]:
# this was supposed to be done using random seed
x = np.arange(0,10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [47]:
# function should add error to 5x+10
y = 5*x + 10
y

array([10, 15, 20, 25, 30, 35, 40, 45, 50, 55])

In [48]:
data=pd.DataFrame(y,x)
data.index = x
data

    0
0  10
1  15
2  20
3  25
4  30
5  35
6  40
7  45
8  50
9  55

In [49]:
data.describe()

               0
count  10.000000
mean   32.500000
std    15.138252
min    10.000000
25%    21.250000
50%    32.500000
75%    43.750000
max    55.000000

In [45]:
data.corr()

     0
0  1.0